#atm-0 {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(30, 33, 58);
}

.valor-atm {
    font-size: 40px;
    font-weight: 700;
}

@media (min-width: 701px) and (max-width: 1120px) {

    .valor-atm {
        font-size: 30px;
        font-weight: 500;
    }

}