.btn-secondary {
    font-size: 12px;
}

.BarraState {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    /* padding: 0; */
  }
  
  .BarraState>h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
  }
  
  .BarraState>span {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding-top: 30px;
  }

  .tiempo-Icon {
    position: absolute;
    width: 150px;
  }

  .Nubes-de-Background {
    user-select: none;
    width: 500px;
    opacity: 0.1;
  }

@media (min-width: 701px) and (max-width: 1120px) {

    .BarraState>h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 80px;
      }
    
      .BarraState>span {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        padding-top: 15px;
      }

      .tiempo-Icon {
        width: 120px;
      }
        
    .Nubes-de-Background {
        width: 340px;
      }

}

@media (max-width: 700px) {

    .BarraState>h1 {
        font-size: 80px;
        padding: 0;
        margin: 0;
      }
    
      .BarraState>span {
        font-size: 28px;
        padding-top: 20px;
        padding: 0;
        margin: 0;
      }

      .Nubes-de-Background {
        margin-top: 50px;
        width: 500px;
        /* background-color: aqua; */
      }

}